nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* padding-top: 15px; */
}

.logo{
    width: 50px;
}

header{
    background-color: white;
    padding: 15px;
    top: 0;
    position: sticky;
  
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a{
    padding:  15px;
    color: black;
    align-items: center;
}

.trans-btn{
    border: 2px solid #2BB32A;
    color: #2BB32A;
    padding: 5px 20px;
    border-radius: 50px;
}

.mobile-menu{
    display: none;
}


.mobile-menu-item{
    height: 100vh;
    width: 60%;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
     padding: 40px 15px;
     /* padding-top: 40px; */
     /* padding-right: 50px; */
   }

   .mobile-menu-item li {
    color: black;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {

    a{
        color: black;
    }
    nav ul{
        display: none;
    }

    .mobile-menu{
        display: block;
        font-size: 28px;
    }

    .mobile-menu-item{
        width: 60vw;
       }

    
}