.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

img{
    /* height: 300px; */
    /* width: 500px; */
    border-radius: 10px;
   
}

h1{
    color: white;
    font-size: 35px;
    padding-bottom: 30px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    
}