*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: NONE;
  list-style: none;
}

body{
background-color: #11221d;
overflow-x: hidden;
font-family: 'M PLUS 1p', sans-serif;

}

.container{
  max-width: 1100px;
  margin: auto;
}

.overlay{
  background: url(./assets/dora_wrap.png) no-repeat center center/cover;

}

small{
  color: #ADB2B1;
  font-size: 16px;
}

.fill-btn{
  background-color:  #2BB32A;
  padding: 15px;
  color: white;
}

.CTA{
  background-color: #2BB32A;
  color: white;
  padding: 12px; 
  border-radius: 50px;
  text-align: center;
  margin: 20px 0px;
  border: none;
}

.out-btn{
  border: 1px solid white;
  color: white;
  padding: 12px; 
  border-radius: 50px;
  text-align: center;
  margin: 20px 0px;
}

.cta{
  margin-top: 20px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.center-cta{
  margin-top: 20px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.highlight{
  color: #2BB32A;
  font-style: italic;
}

.fullBtn{
  background-color: #2BB32A;
  padding: 10px;
  color: white;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

h1,h2,h3{
  text-align: start;
}


.heading{
  text-align: start;
}

.info-new{
  width: 550px;
}

.image-grid{
  padding: 10px;
 display: flex;
 flex-wrap: wrap;
  gap: 10px;
}

.pagination{
  margin-top: 30px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.num{
  padding: 15px;
  color: white;
}

.active{

  background-color: #2BB32A;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}
.not-active{
  color: white;
  padding: 10px;
  border: none;
  border-radius: 2px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.btn-ds{
  /* background-color: red; */
  border: none;
  padding: 10px;
  border-radius: 5px;
}



@media screen and (max-width: 768px) {
  .title{
    padding: 0px 20px;
  }
  
.info-new{
  width: 350px;
}

.image-grid{
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

}